<div class="container">
	<div class="jumbotron">
		<h2>Welcome to the 9elements Grocery-System</h2>
		<a href="/grocery/new" class="btn btn-md btn-success">Create a new grocery</a>
		<a href="/grocery" class="btn btn-md btn-primary">Show all grocerys</a>
	</div>
</div>