<div class="container">
	<form action="/grocery/create" method="post">
		<h2>Create a new Grocery</h2>
		<p><input type="text" class="form-control" placeholder="Your Item" name="item">
		<input type="text" class="form-control" placeholder="URL to Item" name="URL">
		<input type="text" class="form-control" placeholder="Your Name" name="name"> </p>
		<input type="submit" class="btn btn-lg btn-primary btn-block">
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>