<div class="container">
	<p>What to buy: <%= grocery.item %></p>
	<p>Link to Item: <%= grocery.linkToItem %></p>
	<p>Who need it?: <%- grocery.nameOfNeeder %></p>
	<a class="btn btn-medium btn-primary" href="/grocery/edit/<%= grocery.id %>">edit item</a>
</div>