<div class="container section-content">
	<div class="jumbotron">
		<h1>This is a Landingpage</h1>
		<h2>with a lot of fancy stuff</h2>
		<a href="grocery/new" class="btn btn-lg btn-success">Shut up an' take ma money!</a>
	</div>
</div>